body{
    background-image: none;
    background-color: var(--primary-color);
}

#hero{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 2%;
    width: 95vw;
    height: 90vh;
    border-radius: 5px;
}

.hero-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.image-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff47;
}

.content-container{
    font-size: 18px;
    margin: 56vh auto 12vh auto;
    width: 47%;
    padding: 3vw;
    box-shadow: -5px 5px 10px black;
    background-color: white;
    border-radius: 5px;
}

<<<<<<< HEAD


#hero h1{
    font-size: 4rem;
    position: absolute;
    top: 93%;
    left: 20%;
    width: 63%;
    padding: 16px 30px 16px 16px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
    background-color: var(--title-color);
    border-radius: 5px;
=======
.content-container h1{
    font-size: 3vw;
    padding-left: 3%;
    padding-top: 2%;
    height: 5vw;
    text-align: center;
>>>>>>> ec55242ea29461b728eb8acb4c3cfd0d39d79a2c
}


.content{
    padding: 31px;
    border-bottom: 3px double;
    border-radius: 5px;
    margin-bottom: 15%;
    line-height: 3;
}