{%extends "base.html"%}
{% load static%}
{%block "stylesheets"%}
<link rel="stylesheet" type="text/css" href="{% static 'categories.css' %}">
{%endblock%}

{%block "content"%}
<section class="categories">
    <div class="container">
        <div class="card-image">
        </div>
        <div class="card-info">
            <h1>This is a title</h1>
            <p>Dolor ea dolore adipisicing sint minim id.Lorem anim veniam culpa cupidatat ipsum fugiat. Esse enim irure fugiat adipisicing excepteur id ea ipsum sunt. 
                Eiusmod est fugiat sunt excepteur amet laborum.
                Est ipsum nulla deserunt eu minim ea dolor ad dolor velit do. Ullamco sint aute adipisicing adipisicing proident est.
            </p>
        </div>
    </div>

</section>


{%endblock%}