{%extends "base.html"%}
{% load static%}
{%block "stylesheets"%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/fullBlog.css' %}">
{%endblock%}

{%block "content"%}
<div id="hero">
    <div class="image-cover" ></div>
    <img class="hero-img" src={{img}}/>
</div>
<div class="content-container">
    <h1>{{title}}</h1>
    {% for p in paragraph %}
    <p class="content">{{p}}</p>
    {% endfor %}
    <div class="author-section">
        <img/>
        <h5>Author:</h5>
        <p></p>
        <p></p>
    </div>
</div>
{%endblock%}